body{

    margin: 0;
    background-color: #000F08;
    overflow: hidden;

    font-family: "Amiri Regular";
    color: antiquewhite;

}

@font-face {
    font-family: "Amiri Regular";
    src: url(FONTS/Amiri/Amiri-Regular.ttf);
}
  
.header{

    font-family: "Amiri Regular";
    padding: 20px;
    background-color: #004BA8;
    -webkit-app-region: drag;

    text-align: center;
    color: #F6AA1C;

}

.file-container{

    display: flex;
    flex-direction: row;

    height: 100vh;
    width: 100vw;

}

.file-container .input-container{

    padding: 50px;

}

.file-container .input{

    width: 100%;

}

.file-container .input #fileLoc{

    width: 80%;

}

.file-container .input label{

    padding: 10px;

    font-family: "Amiri Regular";

    border-style: none;
    background-color: transparent;
    color: whitesmoke;

    font-size: medium;

}

.file-container .input label:hover{

    padding: 10px;

    font-family: "Amiri Regular";

    border-style: none;
    background-color: #004BA8;
    color: black;

    font-size: medium;

}

button{

    margin-top: 5px;
    width: 100%;

    font-family: "Amiri Regular";

    border-style: none;
    background-color: transparent;
    color: whitesmoke;

    font-size: medium;

}

button:hover{

    margin-top: 5px;
    width: 100%;

    font-family: "Amiri Regular";

    border-style: none;
    background-color:  #004BA8;
    color: black;

    font-size: medium;

}

input[type="file"]{

    display: none;

}