body{

    margin: 0;
    background-color: #000F08;
    overflow: hidden;

    font-family: "Amiri Regular";
}

@font-face {
    font-family: "Amiri Regular";
    src: url(FONTS/Amiri/Amiri-Regular.ttf);
}

ul{

    list-style: none;

}

.header{

    font-family: "Amiri Regular";
    padding: 20px;
    background-color: #004BA8;
    -webkit-app-region: drag;

    text-align: center;
    color: #F6AA1C;

}


.file-loc-display{

    color: whitesmoke;
    margin-right: 5px;
    margin-left: 5px;
    margin-bottom: 3px;

    text-align: center;

}

.container{

    display: flex;
    flex-direction: row;


    height: 100vh;
    width: 100vw;
}

.container .file-list{

    background-color: #F6AA1C;
}

.container .file-list h1{

    padding-left: 10dvw;
    padding-right: 10px;
    background-color: #F6AA1C;

}

.container .file-list #file-upload{

    border-style: none;

    font-family: "Amiri Regular";

    color: whitesmoke;
    background-color: #004BA8;

    padding-left: 10px;
    padding-right: 20px;

    font-size: medium;

}

.container .file-list #file-upload:hover{

    background-color: #000F08;

}

.workspace{

    height: 100%;
    width: 100%;

    display: flex;
    flex-direction: row-reverse;

}

.workspace .buttons-for-functions ul{

    list-style: none;
    margin-left: 40px;
    margin-right: -5px;
}

.workspace .buttons-for-functions li{

    padding-bottom: 17px;

}

.workspace .buttons-for-functions li button{

    font-family: "Amiri Regular";
    font-size: larger;

    padding-left: 100%;

    border-style: none;
    background-color: transparent;
    color: whitesmoke;
}

.workspace .buttons-for-functions li button:hover{

    font-family: "Amiri Regular";
    font-size: larger;

    padding-left: 100%;

    border-style: none;
    background-color: #004BA8;
    color: black;
}

.workspace .text-area{

    margin-top: 5px;
    width: 100%;
    height: 85vh;

}

.workspace .text-area textarea::-webkit-scrollbar{
    display: none;
}

.workspace .text-area textarea{

    border-style: none;
    outline-style: none;
    background-color: transparent;
    color: whitesmoke;
    resize: none;
    
    width: 100%;
    height: 100%;

    padding-right: 5px;

}
